@import "../../utils/styles/variable";

nav {
  background: $white;
  box-shadow: $light-shadow;
}
.nav-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.nav-toggle,
.cart-button,
.search-button,
.signin-button,
.notification-button,
.cart-desktop-button,
.search-desktop-button {
  font-size: 1.2rem;
  color: $color-heading-black;
  background: transparent;
  border-color: transparent;
  transition: $transition;
  cursor: pointer;
}
.nav-toggle:hover,
.cart-button:hover,
.search-button:hover {
  color: $accent-color;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .logo-heading {
    display: flex;
    flex: 2 1 65%;

    h1 {
      margin: 0;
      margin-left: 0.8rem;
      font-size: $fontSize-4;
      color: $secondary-color;
    }
  }
  .heading-btn-container {
    display: flex;
    flex: 1 1 35%;
    justify-content: flex-end;

    .search-button {
      margin-right: 0.8rem;
    }
    .cart-button {
      margin-right: 0.2rem;
    }
  }
}

.links li {
  display: inline;
}

.links a {
  color: $accent-color;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: $spacing-1;
  display: inline-block;
  padding: 0.1rem 0.5rem 0;
  transition: $transition;
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
}

.links-container {
  overflow: scroll;
  transition: $transition;
  white-space: nowrap;
  margin: -1rem;
}

.search-container,
.users-info-section {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .search-button,
  .cart-button {
    display: none;
  }

  .links-container {
    height: 0;
  }
  .search-container,
  .users-info-section {
    display: inline-block;
  }
  .users-info-section {
    display: flex;
    justify-content: flex-end;

    .signin-button,
    .notification-button {
      margin-right: 1rem;
    }
  }
}
